<% if !notice.nil? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<div class="top-wrapper">
  <h3>ブログ一覧</h3>
  <%= link_to "新規作成", new_blog_path, class: "btn btn-primary btn-new" %>
</div>
<table class="table table-straiped">
  <tr>
    <th scope="col">タイトル</th>
    <th scope="col">経過時間</th>
    <th scope="col">編集</th>
    <th scope="col">削除</th>
  </tr>
  <% @blogs.each do |blog| %>
    <tr>
      <td scope="row"><%= link_to blog.title, blog_path(blog.id) %></td>
      <td><%= relative_post_datetime(blog.created_at) %></td>
      <td><%= link_to "編集", edit_blog_path(blog.id) %></td>
      <td><%= link_to "削除", blog_path(blog.id), method: :delete, data: {confirm: "本当に削除しますか?"} %></td>
    </tr>
  <% end %>
</table>